*.swp
__pycache__/*
__pycache__/History.cpython-35.pyc
tags
.idea/inspectionProfiles/profiles_settings.xml
__pycache__/Helper.cpython-35.pyc
__pycache__/ILModel.cpython-35.pyc
__pycache__/KerasTFRecord.cpython-35.pyc
__pycache__/MergeData.cpython-35.pyc
__pycache__/TrainingDefines.cpython-35.pyc
dump/test.log
models/acc.npy
models/losses.npy
models/model-result.txt
models/test_model.h5
models/test_model.json
models/test_model.png
models/train_model.h5
models/train_model.json
models/train_model.png
models/training_result.jpg
tmp/train_model.h5
tmp/train_model.json
action_define.txt
tmp/log/*
tmp/*
.vscode/*
models/mae.npy
.~lock.CFM模型训练结果.xls#
